:root {
  --general-container-padding: 1rem;
  --border-color: #eee;
  --container-bg-color: #f9f9f9;
  --text-color: #222;
  --secondary-text-color: #444;
  --max-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: "Manrope", sans-serif;
}

/** HEADER STYLING **/

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--general-container-padding);
  max-width: var(--max-width);
  margin: auto;
}

.logo-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo-text {
  font-size: 22px;
  font-weight: 500;
  display: none;
}

header .header-logo {
  width: 50px;
  height: auto;
}

header .hamburger {
  width: 22px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.hamburger-line {
  width: 100%;
  min-height: 2px;
  background-color: var(--text-color);
  border-radius: 1px;
}

header nav {
  transition: right 0.2s ease;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--container-bg-color);
  right: -200px;
  top: 0;
  height: 100svh;
  border-left: 1px solid var(--border-color);
  padding: 4rem var(--general-container-padding)
    var(--general-container-padding) var(--general-container-padding);
}

header nav a {
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

header nav a:hover {
  text-decoration: underline;
}

.navigation-active {
  right: 0;
}

/** END OF HEADER STYLING **/

@media only screen and (min-width: 768px) {
  /** HEADER STYLING DESKTOP **/
  #hamburger {
    display: none;
  }

  header nav {
    flex-direction: row;
    position: static;
    height: auto;
    padding: 0;
    gap: 1.5rem;
    background-color: transparent;
  }

  header .header-logo {
    width: 65px;
    height: auto;
  }

  .logo-text {
    display: block;
  }

  /** END OF HEADER STYLING DESKTOP **/
}
